</section>
</div>
<br><br><br><br>
<footer class="row"><small><small>
    <div class="fixed-bottom text-center text-white bg-dark col-lg-12">
      <address>
                <strong>Entreprise de Vente En-ligne de Produits IT</strong><br>
            BP 68M, 16270, Oued Smar, Algérie. Tél : 023 93 91 32; Fax : 023 93 91 42 ;
      </address>
    </div>
</small></small></footer>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>