<ul class="nav list-group">
	<li>
		<a class="list-group-item" href="/products/" >Produits</a>
	</li>
	<% if(data.req.session.loggedin){%>
	<li>
		<a class="list-group-item" href="/commandes">Commandes</a>
	</li>
    <% if(data.req.session.usertype == 'client'){%>
	<li>
    	<a class="list-group-item" href="/panier">Mon Panier</a>
	</li>
	<% } if(data.req.session.usertype == 'admin'){%>
	<li>
			<a class="list-group-item" href="/users/clients">Clients</a>
	</li>
	<li>
			<a class="list-group-item" href="/fournisseurs">Fournisseurs</a>
	</li>
	<li>
		<a class="list-group-item" href="{% url 'dashboard' %}">Dashboard</a>
	</li>
	<% } }%>
</ul>