<%- include('header.ejs') -%>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="row">
                    <div class="col">
                        <% if(data.req.session.usertype=='admin'){ %>
                            <a href="/products/insert" class="btn btn-primary">Ajouter produit</a>
                        <% } %>
                    </div>
                </div>
                <!-- List group-->
                <ul class="list-group shadow">
                    <% data.products.forEach(product=>{ %>
                    <!-- list group item-->
                    <li class="list-group-item">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2"><%= product.designation %></h5>
                                <p class="font-italic text-muted mb-0 small">64 GB ROM | 14.73 cm (5.8 inch) Super Retina HD Display 12MP + 12MP | 7MP Front Camera A12 Bionic Chip Processor</p>
                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h6 class="font-weight-bold my-2">₹99,900</h6>
                                    <ul class="list-inline small">
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    </ul>
                                </div>
                                <a href="/panier/add/<%= product.id %>" class="btn btn-info">Ajouter au panier</a>

                            </div><img src="https://i.imgur.com/KFojDGa.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                        </div> <!-- End -->

                    </li> <!-- End -->
                    <%})%>
                    <!-- list group item -->
                    <!-- list group item -->
                </ul> <!-- End -->
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>


<%- include('footer.ejs') -%>
